@using projectsem3.Models
@model List<projectsem3.Models.TABULAR>
@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script>
        $(document).ready(function () {
            $("#Birthday").datepicker({
                dateFormat: "yyyy/mm/dd"
            })
        });
    </script>
    <div id="page-wrapper">
        <div class="graphs">
            <h3 class="blank1">Eligible for the admission</h3>
            <div class="xs tabls">
               
               
                <div class="bs-example4" data-example-id="simple-responsive-table">
                    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Birthday</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Father Name</th>
                                    <th>Mother Name</th>
                                    <th>Residential Address</th>
                                    <th>Permanent Address</th>
                                    <th>Admission For</th>
                                    <th>Sports</th>
                                    <th>Enrollment Number</th>
                                    <th>Center</th>
                                    <th>Stream</th>
                                    <th>Field</th>
                                    <th>Marks Secured</th>
                                    <th>Out of</th>
                                    <th>Class Obtained</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var tabulars = ViewBag.Tabular as List<TABULAR>;}
                                @foreach (var tabular in Model)
                                {
                                <tr>
                                    <th scope="row">@tabular.Id</th>
                                    <td>@tabular.FirstName</td>
                                    <td>@tabular.LastName</td>
                                    <td>@tabular.Birthday</td>
                                    <td>@tabular.Email</td>
                                    <td>@tabular.Gender</td>
                                    <td>@tabular.FatherName</td>
                                    <td>@tabular.MotherName</td>
                                    <td>@tabular.ResidentialAddress</td>
                                    <td>@tabular.PermanentAddress</td>
                                    <td>@tabular.AdmissionFor</td>
                                    <td>@tabular.Sports</td>
                                    <td>@tabular.EnrollmentNo</td>
                                    <td>@tabular.Center</td>
                                    <td>@tabular.Stream</td>
                                    <td>@tabular.Field</td>
                                    <td>@tabular.MarksSecured</td>
                                    <td>@tabular.OutOf</td>
                                    <td>@tabular.ClassObtained</td>
                                    <td>
                                        <button class="btn-success btn">Submit</button>
                                    </td>
                                    <td>
                                        <button class="btn-danger btn">Deny</button>
                                    </td>
                                </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
