@using projectsem3.Models
@model projectsem3.Models.USER
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../Content/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../Content/admin/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="../Content/admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="../Content/admin/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="../Scripts/admin/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="../Content/admin/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../Scripts/admin/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="../Scripts/admin/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>
<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>Sign In to</span> <a href="#">Admin</a></p>
                    </div>
                    <div class="signin">

                        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="log-input">
                                <div class="log-input-left">
                                    @*<input type="text" class="user" value="Yourname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}" />*@
                                    @Html.TextBox("email", null, new
                               {
                                   @class = "form-control valid user",
                                   @data_val = "true",
                                   @value = "Yourname",
                                   @onfocus = "this.value = '';",
                                   @onblur = "if (this.value == '') {this.value = 'Email address:';}"
                               })
                                    @Html.ValidationMessage("email")
                                </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input-left">
                                    @*<input type="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}" />*@
                                    @Html.Password("password", null, new
                               {
                                   @class = "form-control valid lock",
                                   @data_val = "true",
                                  
                             @value = "password",
                                   @onfocus = "this.value = '';",
                                   @onblur = "if (this.value == '') {this.value = 'Email address:';}"
                               })
                                    @Html.ValidationMessage("password")
                                </div>
                            </div>
                            <input type="submit" value="Login to your account">
                        }
                        <div class="clearfix"> </div>
                        <div class="signin-rit">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
                            </span>
                            <p><a href="#">Click Here</a> </p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
            <p>All Rights Reserved | Design by TiQM</p>
        </footer>
        <!--footer section end-->
    </section>

    <script src="../Scripts/admin/js/jquery.nicescroll.js"></script>
    <script src="../Scripts/admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../Scripts/admin/js/bootstrap.min.js"></script>
</body>
</html>
