@using projectsem3.Models
@model projectsem3.Models.USER
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Login Form</li>
    </ol>
</nav>
<!-- breadcrumb -->

<!-- login -->
<div class="login-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
            Login
            <span class="font-weight-bold">now</span>
        </h3>
        <!-- content -->
        <div class="sub-main-w3 pt-md-4">
            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-style-agile form-group">
                    <label>
                        Username
                        <i class="fas fa-user"></i>
                    </label>
                    @Html.TextBox("email", null, new
                    {
                        @class = "form-control valid",
                        @data_val = "true",
                            @data_val_required = "Please fill in email"
                    })
                    @Html.ValidationMessage("email")
                </div>
                <div class="form-style-agile form-group">
                    <label>
                        Password
                        <i class="fas fa-unlock-alt"></i>
                    </label>
                    @Html.Password("password", null, new
                        {
                            @class = "form-control valid",
                            @data_val = "true",
                             @data_val_required = "Please fill in password"
                        })
                    @Html.ValidationMessage("password")
                </div>
                <!-- switch -->
                <ul class="list-unstyled list-login">
                    <li class="switch-agileits float-left">
                        <label class="switch  text-capitalize">
                            <input type="checkbox">
                            <span class="slider-switch round"></span>
                            keep me signed in
                        </label>
                    </li>
                    <li class="float-right">
                        <a href="#" class="text-right text-white text-capitalize">forgot password?</a>
                    </li>
                </ul>
                <!-- //switch -->
                <input type="submit" value="Log In">
                @(new HtmlString(ViewBag.SignInErrorMessage))
                <p class="text-center dont-do mt-4 text-white">
                    Don't have an account?
                    <a href="../Account/SignIn" class="text-white  font-weight-bold">
                        Register Now
                    </a>
                </p>
            }
        </div>
        <!-- //content -->
    </div>
</div>
<!-- //login -->
