@model IEnumerable<projectsem3.Models.FACILITy>
@using projectsem3.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Index/Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Facilities</li>
    </ol>
</nav>
<!-- breadcrumb -->
<!-- //banner -->
<!-- single -->

<div class="single-w3l py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
            Our
            <span class="font-weight-bold">Facilities</span>
        </h3>
        @foreach (var facilities in Model.Take(1))
        {
            <div class="row inner_sec_info pt-md-4">
                <!-- left side -->
                <div class="col-lg-8 single-left">
                    <div class="single-left1">

                        <img src="../Content/@facilities.Images" alt=" " class="img-fluid" />
                        <h6 class="blog-first text-dark text-center my-4">
                            <i class="far fa-user mr-2"></i>@facilities.writer
                        </h6>
                        <ul class="blog_list my-3 text-center">
                            <li>@facilities.Time</li>
                            <li class="mx-3">
                                <a href="#">
                                    <i class="far fa-heart mr-1"></i>
                                    22
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-comments mr-1"></i>
                                    16
                                </a>
                            </li>
                        </ul>
                        <h5 class="card-title">
                            <a href="single.html" class="text-dark">We offer world-class facilities. Modern classrooms, purpose-built lecture theatres, studios, laboratories and other specialist spaces provide the perfect setting to thrive.</a>
                        </h5>
                        <p>
                            @facilities.Description
                        </p>
                    </div>
                    <div class="admin p-4 my-4">
                        <p>
                            <i class="fas fa-quote-left mr-2"></i>ITM vision is to provide our students, staff and alumni with the means to develop their entrepreneurial mindset, gain skills for intrapreneurship and help form enterprises.
                            <i class="fas fa-quote-right ml-2"></i>
                        </p>
                        <a href="#" class="mt-3 font-weight-bold text-right blockquote-footer">James Doe</a>
                    </div>
                    <div class="row single-left2">
                        <div class="col-md-6 single-left2-left">
                            <ul>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">A world class Indian education</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">5-Star ranking</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Top 1% of world’s universities</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Excellent graduate outcomes</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Encourages cultural awareness</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Critical thinking</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 single-left2-left">
                            <ul>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Encourages experimentation and creativity</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Prepares you for success</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Exposes you to new ideas</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Equips you with the skills </a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Knowledge to excel in your chosen career</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="single.html">Provide a range of resources</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="comments my-5">
                        <h3 class="blog-title text-dark">Our Recent Comments</h3>
                        <div class="comments-grids mt-4">
                            @foreach (var feedback in TempData["feedback"] as List<FEEDBACK>)
                            {

                                <div class="row comments-grid">
                                    <div class="col-3 comments-grid-left">
                                        <img src="../content/@feedback.STUDENT.Avatar" alt=" " class="img-thumbnail rounded-circle" />
                                    </div>
                                    <div class="col-8 comments-grid-right mt-3">
                                        <h4>@feedback.STUDENT.FirstName @feedback.STUDENT.LastName</h4>
                                        <ul class="my-2">
                                            <li class="font-weight-bold">
                                                @feedback.Time
                                                <i>|</i>
                                            </li>
                                            <li>
                                                <a href="#" class="font-weight-bold">Reply</a>
                                            </li>
                                        </ul>
                                        @feedback.Description
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div class="leave-coment-form">
                        <h3 class="blog-title text-dark mb-4">Leave a Reply</h3>
                        @using (Html.BeginForm("AddFB", "Facilities", new { id = @ViewBag.facilitiesId[0].Id }, FormMethod.Post))
                        {

                            @Html.TextArea("description", null, new
                       {
                           @class = "form-control valid",
                           @data_val = "true",
                           @data_val_required = "Please ..."
                       })
                            <div class="mm_single_submit">
                                <input type="submit" value="Post Comment">
                            </div>
                        }
                    </div>
                </div>
                <!-- //left side -->
                <!-- right side -->
                <div class="col-lg-4 event-right mt-lg-0 mt-sm-5 mt-4">
                    <div class="event-right1">

                        <div class="categories my-4 p-4 border">
                            <h3 class="blog-title text-dark">Categories</h3>
                            <ul>
                                @foreach (var facilitiesCate in TempData["facilities"] as List<FACILITy>)
                                {
                                    <li class="mt-3">
                                        <i class="fas fa-check mr-2"></i>
                                        <a href="../Facilities/Index?id=@facilitiesCate.Id">@facilitiesCate.Name</a>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="posts p-4 border">
                            <h3 class="blog-title text-dark">Our Events</h3>
                            <div class="posts-grids">
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                                        <a href="single.html">
                                            <img src="../content/images/c1.jpg" alt=" " class="img-fluid" />
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>15/05/18
                                            </li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="single.html" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                                        <a href="single.html">
                                            <img src="../content/images/c2.jpg" alt=" " class="img-fluid" />
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>23/05/18
                                            </li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="single.html" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                                        <a href="single.html">
                                            <img src="../content/images/c3.jpg" alt=" " class="img-fluid" />
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>13/06/18
                                            </li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="single.html" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tags mt-4 p-4 border">
                            <h3 class="blog-title text-dark">Recent Tags</h3>
                            <ul class="mt-4">
                                <li>
                                    <a href="course_details.html" class="text-dark border">Designs</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Growth</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Latest</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Price</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Tools</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Business</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Work Space</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">New Course</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Advantage</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Concepts</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Arts</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Photography</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Research</a>
                                </li>
                                <li>
                                    <a href="course_details.html" class="text-dark border">Software</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //right side -->
            </div>
        }
    </div>
</div>
<!-- //blog -->
