@using projectsem3.Models
@model projectsem3.Models.TABULAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@*<script>
    $(document).ready(function () {
        $("#Birthday").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: '1999:2020',
            defaultDate: new Date(1999, 01 - 01, 09),
        });
    });
</script>*@

@if (ViewBag.Status != null)
{
    <script>
        $(document).ready(function () {
            alert('@ViewBag.Status');
        })
    </script>
}
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Index/Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admission Form</li>
    </ol>
</nav>
<!-- breadcrumb -->
<!-- //banner -->
<!-- admission form -->
<div class="form-w3l py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
            Admission
            <span class="font-weight-bold">form</span>
        </h3>
        <div class="register-form pt-md-4">

            @using (Html.BeginForm("Submit", "Admission", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.FirstName, new { @placeholder = "First Name (eg: A)", @class = "form-control", @type = "text", @required = "", @name = "Your first name" })
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.LastName, new { @placeholder = "Last Name (eg: Nguyen Van)", @class = "form-control", @type = "text", @required = "", @name = "Your last name" })
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.Birthday, null, new { @type="text", @onfocus = "(this.type='date')", @onblur = "(this.type='text')", @class = "form-control", @placeholder = "Date of Birth ( as per the certificate)" })
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.Email, new { @placeholder = "Email (must be xyz@abc.com)", @class = "form-control", @type = "email", @required = "", @name = "Your email" })
                </div>
                <div class="styled-input agile-styled-input-top form-group">
                    <span> Select your Gender :</span>
                    @Html.DropDownListFor(u => u.Gender,
                new List<SelectListItem> {
                     new SelectListItem { Value = "0" , Text = "Male" },
                     new SelectListItem { Value = "1" , Text = "Female" },
                  },
                new { @class = "category2" })
                </div>

                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.FatherName, new { @placeholder = "Father Name (required)", @class = "form-control", @type = "text", @required = "", @name = "Your father name" })
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.MotherName, new { @placeholder = "Mother Name (required)", @class = "form-control", @type = "text", @required = "", @name = "Your mother name" })
                </div>


                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.ResidentialAddress, new { @placeholder = "Residential Address (required)", @class = "form-control", @type = "text", @required = "", @name = "Residential Address" })
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.PermanentAddress, new { @placeholder = "Permanent Address (required)", @class = "form-control", @type = "text", @required = "", @name = "Permanent Address" })
                </div>
                <div class="styled-input form-group">
                    <div class="agileits_w3layouts_grid">
                        <span> Admission for :</span>
                        @Html.DropDownListFor(u => u.AdmissionFor,
                new List<SelectListItem> {
                     new SelectListItem { Value = "0" , Text = "Stream" },
                     new SelectListItem { Value = "1" , Text = "Field" },
                  },
                new { @class = "category2" })
                    </div>
                </div>
                <div class="styled-input form-group">
                    @Html.TextBoxFor(u => u.Sports, new { @placeholder = "Sports (provide at least 1)", @class = "form-control", @type = "text", @required = "", @name = "Sport" })
                </div>
                <div class="styled-input">

                    <label class="header-admin-form font-weight-bold text-dark my-3">The details of your previous education</label>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.University, new { @placeholder = "University (required)", @class = "form-control", @type = "text", @required = "", @name = "University" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.EnrollmentNo, new { @placeholder = "Enrollment number (required)", @class = "form-control", @type = "text", @required = "", @name = "EnrollmentNo" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Center, new { @placeholder = "Center (required)", @class = "form-control", @type = "text", @required = "", @name = "Center" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Stream, new { @placeholder = "Stream (required)", @class = "form-control", @type = "text", @required = "", @name = "Stream" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Field, new { @placeholder = "Field (required)", @class = "form-control", @type = "text", @required = "", @name = "Field" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.MarksSecured, new { @placeholder = "Marks Secured (required)", @class = "form-control", @type = "text", @required = "", @name = "MarksSecured" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.OutOf, new { @placeholder = "Out Of (required)", @class = "form-control", @type = "text", @required = "", @name = "OutOf" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.ClassObtained, new { @placeholder = "Class Obtained (required)", @class = "form-control", @type = "text", @required = "", @name = "ClassObtained" })
                    </div>
                    @* } *@
                </div>
                <input type="submit" value="Submit">
                <a class="custom-download" href="..\Content\admissionform.pdf" download="Admission Form"> Download Form </a>
            }


        </div>
    </div>
</div>
<!-- admission form -->
